body{
    font-family: Arial;
}
*{
    box-sizing: border-box;
}
.menuConteiner{
    width: 300px;
    padding: 15px 0px;
    background-color: #bbb;
}
.menuConteiner li a{
    padding: 12px;
    text-decoration: none;
    color: #000;
    display: block;
}
#menu li a:hover{
    background-color: #eee;
}
.menuConteiner h2{
    padding-left: 10px;
}
#pesquisa{
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}
#menu{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.borda{
    border: 1px solid #000;
}